# Overview

This project analyzes data from IMDB, Box Office Mojo, Rotten Tomatoes, TheMovieDB and The Numbers. Descriptive analysis of the data reveals that #########. Our client can use this analysis when deciding which movies to create.

# Business Problem

A company is interested in creating a new movie studio to stay competitive,but they do not know anything about creating movies. 

Our goal was to determine which movies are doing best at the box office and make three recommendations for our company to use when deciding what type of films to create

# Data

The data is IMDB, Box Office Mojo, Rotten Tomatoes, TheMovieDB and The Numbers. It includes production data and performance data.  (EXPLAIN DATA POSTIVES AND LIMITATIONS)

# Results

Our reccomendations...

# Importing Libraries And Reading in Data

In [2]:
import pandas as pd
import numpy as np
import sqlite3
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
#csv files
df_movie_gross = pd.read_csv('data/bom.movie_gross.csv.gz') #3387 x 5 domestic_gross, foreign_gross, year from
df_movie_info = pd.read_csv('data/rt.movie_info.tsv.gz', sep='\t') #1560 x 12 rating, genre, director, writer, box office, runtime from Rotten Tomatoes
df_reviews = pd.read_csv('data/rt.reviews.tsv.gz', sep='\t', encoding='unicode_escape') #54432 x 8 rating, fresh, top critic from Rotten tomatoes
df_movies = pd.read_csv('data/tmdb.movies.csv.gz') #26517 x 10 popularity, vote_average, vote_count #from TheMoviesTB
df_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv.gz') #5782 x 6, budget, domestic_gross, worldwide_gross from TheNumbers

#single sql file, IMDB
conn = sqlite3.connect("data/im.db/im.db")
df_imdb = pd.read_sql( #446414 × 18 runtime, genre, averagerating, number of votes from IMDB
    """
    SELECT *
    FROM movie_basics as basic
    JOIN movie_ratings as rating
    ON basic.movie_id = rating.movie_id
    JOIN directors
    ON basic.movie_id = directors.movie_id
    JOIN known_for
    ON basic.movie_id = known_for.movie_id
    JOIN persons
    ON known_for.person_id = persons.person_id
    WHERE primary_profession = "actor" OR primary_profession = "actress" OR primary_profession = "director"
    """
, conn
)

#merging TheNumbers and IMDB
df_final = pd.merge(df_movie_budgets, df_imdb, left_on='movie', right_on='primary_title')

In [45]:
df_final

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,movie_id,primary_title,original_title,start_year,...,numvotes,movie_id,person_id,person_id,movie_id,person_id,primary_name,birth_year,death_year,primary_profession
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",tt1775309,Avatar,Abatâ,2011,...,43,tt1775309,nm3786927,nm2929867,tt1775309,nm2929867,Nako Mizusawa,NaN,NaN,actress
1,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",tt1775309,Avatar,Abatâ,2011,...,43,tt1775309,nm3786927,nm2929867,tt1775309,nm2929867,Nako Mizusawa,NaN,NaN,actress
2,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",tt1775309,Avatar,Abatâ,2011,...,43,tt1775309,nm3786927,nm4178059,tt1775309,nm4178059,Yuri Hane,NaN,NaN,actress
3,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",tt1775309,Avatar,Abatâ,2011,...,43,tt1775309,nm3786927,nm4178059,tt1775309,nm4178059,Yuri Hane,NaN,NaN,actress
4,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",tt1775309,Avatar,Abatâ,2011,...,43,tt1775309,nm3786927,nm3786927,tt1775309,nm3786927,Atsushi Wada,NaN,NaN,director
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,tt2107644,A Plague So Pleasant,A Plague So Pleasant,2013,...,72,tt2107644,nm5792320,nm5497357,tt2107644,nm5497357,Maxwell Moody,NaN,NaN,actor
23230,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,tt2107644,A Plague So Pleasant,A Plague So Pleasant,2013,...,72,tt2107644,nm4766951,nm4572412,tt2107644,nm4572412,Eva Boehnke,NaN,NaN,actress
23231,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,tt2107644,A Plague So Pleasant,A Plague So Pleasant,2013,...,72,tt2107644,nm5792320,nm4572412,tt2107644,nm4572412,Eva Boehnke,NaN,NaN,actress
23232,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,tt2107644,A Plague So Pleasant,A Plague So Pleasant,2013,...,72,tt2107644,nm4766951,nm4767160,tt2107644,nm4767160,David Chandler,NaN,NaN,actor
23233,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,tt2107644,A Plague So Pleasant,A Plague So Pleasant,2013,...,72,tt2107644,nm5792320,nm4767160,tt2107644,nm4767160,David Chandler,NaN,NaN,actor

# Formatting Change and Filtering

# Exploratory Data Analysis

# Write to File

# Conclusion

### (BLAH BLAH BLAH)

# Appendix

In [ ]:
df_known_for = pd.read_sql(
    """
    SELECT *
    FROM known_for
    JOIN persons
    ON known_for.person_id = persons.person_id
    WHERE primary_profession = "actor" OR primary_profession = "actress" OR "director"
    """
, conn
)