# Overview

This project analyzes data from IMDB, Box Office Mojo, Rotten Tomatoes, TheMovieDB and The Numbers. Descriptive analysis of the data reveals that #########. Our client can use this analysis when deciding which movies to create.

# Business Problem

A company is interested in creating a new movie studio to stay competitive,but they do not know anything about creating movies. 

Our goal was to determine which movies are doing best at the box office and make three recommendations for our company to use when deciding what type of films to create

# Data

The data is IMDB, Box Office Mojo, Rotten Tomatoes, TheMovieDB and The Numbers. It includes production data and performance data.  (EXPLAIN DATA POSTIVES AND LIMITATIONS)

# Results

Our reccomendations...

# Importing Libraries And Reading in Data

In [2]:
import pandas as pd
import numpy as np
import sqlite3
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
#read in csv file, TheNumbers
df_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv.gz') #5782 x 6, budget, domestic_gross, worldwide_gross from TheNumbers

#read in sql file, IMDB
conn = sqlite3.connect("data/im.db/im.db")
df_imdb = pd.read_sql( #446414 Ã— 8 runtime, genre, averagerating, number of votes from IMDB
    """
    SELECT basic.primary_title, basic.start_year, basic.runtime_minutes, basic.genres, 
    rating.averagerating, rating.numvotes, persons.primary_name, persons.primary_profession
    FROM movie_basics as basic
    JOIN movie_ratings as rating
    ON basic.movie_id = rating.movie_id
    JOIN directors
    ON basic.movie_id = directors.movie_id
    JOIN known_for
    ON basic.movie_id = known_for.movie_id
    JOIN persons
    ON known_for.person_id = persons.person_id
    WHERE primary_profession = "actor" OR primary_profession = "actress" OR primary_profession = "director"
    """
, conn
)

#merging TheNumbers and IMDB 8089 x 14
df_final = pd.merge(df_movie_budgets, df_imdb, left_on='movie', right_on='primary_title').drop_duplicates()

In [27]:
#removing NA values from genres column
df_final = df_final[df_final["genres"].isna() == False]
df_final["genres"].value_counts().head(50)

Drama                         714
Action,Adventure,Sci-Fi       381
Drama,Romance                 252
Action,Adventure,Fantasy      234
Comedy                        233
Comedy,Drama,Romance          196
Comedy,Drama                  196
Action,Crime,Drama            194
Biography,Drama,History       182
Action,Adventure,Drama        168
Action,Adventure,Comedy       153
Drama,Thriller                143
Comedy,Romance                140
Action,Thriller               122
Horror,Thriller               114
Crime,Drama,Thriller          113
Action,Crime,Thriller         109
Horror                        109
Horror,Mystery,Thriller       106
Action,Adventure,Thriller     103
Action,Comedy,Crime            95
Biography,Drama                94
Biography,Comedy,Drama         88
Action,Drama,Thriller          84
Biography,Crime,Drama          83
Crime,Drama                    83
Biography,Drama,Sport          80
Thriller                       71
Crime,Drama,Mystery            71
Drama,Mystery,Thriller         69
Comedy,Drama,Music             68
Biography,Drama,Thriller       67
Comedy,Crime,Drama             61
Adventure,Animation,Comedy     59
Drama,Fantasy,Horror           59
Action                         57
Action,Adventure,Crime         53
Adventure,Comedy,Family        53
Action,Biography,Drama         53
Action,Sci-Fi,Thriller         52
Adventure,Family,Fantasy       48
Drama,Horror,Mystery           46
Action,Horror,Sci-Fi           46
Action,Drama,Sci-Fi            45
Drama,Mystery,Sci-Fi           44
Biography,Drama,Music          43
Biography,Drama,Romance        43
Drama,Horror,Thriller          43
Comedy,Drama,Family            41
Action,Drama,History           39
Name: genres, dtype: int64

# Formatting Change and Filtering

# Exploratory Data Analysis

# Write to File

# Conclusion

### (BLAH BLAH BLAH)

# Appendix

In [ ]:
df_movie_gross = pd.read_csv('data/bom.movie_gross.csv.gz') #3387 x 5 domestic_gross, foreign_gross, year from
df_movie_info = pd.read_csv('data/rt.movie_info.tsv.gz', sep='\t') #1560 x 12 rating, genre, director, writer, box office, runtime from Rotten Tomatoes
df_reviews = pd.read_csv('data/rt.reviews.tsv.gz', sep='\t', encoding='unicode_escape') #54432 x 8 rating, fresh, top critic from Rotten tomatoes
df_movies = pd.read_csv('data/tmdb.movies.csv.gz') #26517 x 10 popularity, vote_average, vote_count #from TheMoviesTB
df_known_for = pd.read_sql(
    """
    SELECT *
    FROM known_for
    JOIN persons
    ON known_for.person_id = persons.person_id
    WHERE primary_profession = "actor" OR primary_profession = "actress" OR "director"
    """
, conn
)